header{
    text-align: center;
}
body{
    width: auto;
    margin: 1rem;
    background-color: azure;
    font-size: 18px;
}
.seccion{
    background-color: rgb(231, 231, 231);
    border-radius: 10px;
    padding: 1.5rem 10px;
    margin: 1rem;
}
.divisor{
    border: solid 1px rgba(95, 95, 95, 1);
    margin: 0 10px 16px 10px;
}
#par-cita{
    text-align: left;
    text-transform: capitalize;
    text-decoration: underline;
    padding: 2px;
}
blockquote{
    font-size: 14px;
    text-align: center;
    border: solid 1px rgba(95, 95, 95, 0.8);
    font-family: monospace;
    color: dimgray;
    background-color: antiquewhite;
    padding: 8px;
}
.cont-seccion{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.caja1{
    border: solid 1px grey;
    border-radius: 6px;
    background-color: rgb(145, 241, 243);
    box-shadow: 4px 4px 10px 1px black;  /* Utilizada para hacer el sombreado al elemento */
    width: 80%;
    margin: 0 0 1rem 0;
    padding: 2px;
}
.caja2{
    width: 80%;
    border: solid 2px black;
    border-radius: 6px;
    background-color:rgb(145, 145, 245);
    box-shadow: 2px 2px 10px 1px black;
    padding: 2px;
    margin: 0 0 1rem 0;
}
.relativo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 98%;
    height: 4rem;
    position: relative;
    border-radius: 6px;
    border: solid 1px black;
    background-color: rgb(145, 241, 243);
}
.absoluto{
    display: flex;
    justify-content: center;
    align-items: center;  /* Primeras tres lineas utilizadas para centrar los textos en medio tanto vertical como horizontalmente */
    position: absolute;
    width: 30%;
    height: 2.5rem;
    border-radius: 6px;
    top: 65%;
    left: 65%;
    border: solid 1px black;
    box-shadow: 2px 2px 10px 1px black;
    background-color: aquamarine;
}

/* Media Query */

@media screen and (max-width: 768px){
    body{
        margin: 10px;
        background-color: antiquewhite;
        font-size: 14px;
    }
    .seccion{
        padding: 1.5rem 10px;
        margin: 10px 2px;
    }
    h1{
        font-size: 20px;
    }
    blockquote{
        background-color: azure;
        font-size: 12px;
    }
}

.grid-container{
    display: grid;
    padding: 10px;
    width: auto;
    height: auto;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 1rem;
    justify-items: center;
    align-items: center;
}
.grid-item{
    font-family:Georgia, 'Times New Roman', Times, serif ;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    width: 20vw;
    height: 3vh;
    border: solid 1px black;
    border-radius: 6px;
    background-color: rgb(145, 241, 243);
}
.animacion{
    width: 200px;
    height: 200px;
    border: solid 1px black;
    background-color:crimson;
    margin: 0 0 1rem 0;
}
.animacion:hover{
    cursor: pointer;
    background-color:darkcyan;
    transition: 0.2s ease;
}
.mover{
    width: 200px;
    height: 200px;
    border-radius: 200px;
    background-color: rgb(50, 184, 139);
    animation: mover 4s infinite;
}

@keyframes mover {
    0% {
        transform: translateX(0px);
    }
    50% {
        transform: translateX(400px);
    }
    100% {
        transform: translateX(0px);
    }
}